@charset "UTF-8";
body .top-loading-bar {
  height: 5px;
}


@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}

@keyframes rotate {
  100% {transform: rotate(-360deg);}
}
.full-height {
  height: 100%;
  min-height: inherit;
  display: flex;
  flex-direction: column;
}

.flex-fill {
  flex: 1 1 auto;
}

.pre-anim-hidden { visibility: hidden; }
.pre-anim-hidden.animate__animated { visibility: visible; animation-fill-mode: both; }